h1
{
    color: #A4A400 ;
    background-color:f #F0F0F0;
    text-decoration: underline;
    text-align: center;
    font-size: 22pt;
    font-family: Lucida San unicode;
    font-weight: bold;
    font-size-adjust: 0.25em;
}

    h2
{
    color: #A4A400 ;
    text-decoration: underline;
    text-align: left;font-family:  Helvetica;
    text-align: left;
    font-size: 18pt;
    background-color: #F0F0F0;
    font-weight:normal;
    font-size-adjust: 0.25em;

}
h3
{
    color: #A4A400 ;
    text-decoration: underline;
    text-align: left;
    font-size: 18pt;
    background-color: #F0F0F0;
    font-weight:normal;
    font-size-adjust: 0.25em;
    font-family: Arial;

}
h4
{
    color: #A4A400 ;
    text-decoration: underline;
    text-align: left;
    font-size: 18pt;
    background-color: #F0F0F0;
    font-weight:normal;
    font-size-adjust: 0.25em;
    font-family: sans-serif;

}
h5
{
    color:#A4A400;
    text-decoration: underline;
    text-align: left;
    text-decoration-color: #A4A400;
    background-color: #F0F0F0;
    font-weight:normal;
    font-size-adjust: 0.25em;
    font-family: monospace;

    
}
body
{
    background-image:url("https://github.com/WendyWangui/wendy-b/blob/main/silverware.jpg?raw=true") ;
    font-size: 11pt;
    font-family: Georgia;
    

}


